/* body + barre de navigation */
* { 
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: rgb(0, 0, 0);
    }

.nav-a { 
color: white !important;
}

.nav-b { 
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 1%;
}

.background { 
    background-image: url(https://img.freepik.com/photos-gratuite/delicieuse-pizza-napolitaine-planche_78826-3346.jpg?w=900&t=st=1682437566~exp=1682438166~hmac=fd0b9fbf0acfecf9cf7e39be523080e158756ca611ce7cdd407229458040a43d);
    background-size: cover;
    width: 100%; 
    height: 60vh;
}


.titre { 
    text-align: center;
    padding: 20px;
    color: white;
}

.titre-carte {
    padding-top: 10%;
    font-size: 3.5em;
    }

.position-btn { 
    display: flex;
    justify-content: space-evenly; 
    }

    .btn-commande { 
        background-color: black;
        margin-right: 2%;
        padding: 15px;
        border-radius: 25px;
        border: 1px solid #ce561c!important;
        }

        .btn-commande:hover {
            background-color: #ce561c;
            }

.input { 
display: flex;
justify-content: center;
padding: 2%;
margin: 1%; }


.ajout-btn {
padding: 10px;
display: flex;
text-align: center;}

.btn-compte {
text-decoration: none;
color: rgb(255, 255, 255);
box-shadow: 5px 5px 800px 5px #2e2113;
}

.border {
border: 1px solid #ce561c!important;
border-radius: 15px;
background-color: black;
box-shadow: 20px 20px 20px rgb(0, 0, 0);
padding: 3%;
}


#enter { background-color: white !important;}


.btn-panier { 
background-color: #ce561c; 
border-radius: 25px 25px 25px 25px;
}

.btn-connexion { 
    background-color: #ce561c;
}




.links { 
text-decoration: none;
}




.logo {  
background-image: url(./images/logo.png);
background-size: contain;
background-repeat: no-repeat;
height: 12vh;
width: 100%;

}





.card { 
border: 1px solid #ed8004;
}

.dropdown-item:hover { 
background-color: #ce561c;
}

a {
text-decoration: none;
color: white; }

.panier { 
width: 25px;
}


.donnee-panier { display: flex;
justify-content: space-around;
border-bottom: 2px solid rgb(255, 255, 255);
border-top: 2px solid rgb(255, 255, 255);
}

.img-article { 
width: 10%; 
}

.taille-panier { 
width: 20%;
display: flex;
align-items: center;
}

.total {
display: flex;
justify-content: space-between;
width: 70%;
margin: auto;
padding-right: 5.5%;
}

/* page admin */

.panier-entier {
width: 90%;
margin: auto;
}

.select { 
width: 3%;
height:10%;
margin-top: 3.2%;
}

/* connexion et inscription */
.background-connexion {
background-image: url(./images/background-connexion.jpg);
background-size: cover;
}


.total-co {width: 90%;
margin-top: 10%;
margin-left: 5%;
margin-bottom: 1%;
}

.cta { 
    margin-left: 42%; 
    background-color: #f8d746;
    border: 2px solid #ffffff;
    border-radius: 20px 20px 20px 20px;
    padding: 15px;
    width: 20%;
}

.container-logos { 
    width: 95%;
    margin-left: -200px;
    

}

.background-savoir { 
    float: right;
    background-repeat: no-repeat;
    background-size: 60%;
    width: 100%;
    height: 100vh;

}

.btn-histoire { 
    border: 1px solid #ce561c;
    border-radius: 10px 10px 10px 10px;
    padding: 1%;
    margin: 1%;

}

.btn-test {
    text-align: center;
    border: 1px solid #ce561c;
    border-radius: 10px 10px 10px 10px;
    padding: 1%;
    width: 30%;
}

.test { 
    margin: 2%;
    border: 2px solid #ffffff;
    width: 40%;
    height: 50vh;
    
}

/* page index  */

.position-article { 
    display: flex;
    justify-content: space-around;
}

.position-article2 {
    display: flex;
    justify-content: space-around;

}

.background-savoir {
    float: right;
}

/* page histoire */

.text-histoire { 
    font-size: 20px;
    
}

.titre-histoire { 
    font-size: 50px;
}


/* page des partenaires */

.partenaires {
    margin: 2%;
    width: 40%;
}


.partenairesbis {
    width: 50%;
    margin-left: 25%;
    font-size: 20px;
}


/* page de contact */

.size-contact { 
    color: #ed8004;
    font-size: 20px;
}

.img-contact {
    float: left;
    padding: 4%;
}

.color-contact { 
    color: #ed8004;
}

.bg {
    background-color: #ce561c;
}

#btn-commande { 
    background-color: rgb(0, 0, 0);
    margin-right: 2%;
    padding: 15px;
    border-radius: 25px;
    border: 1px solid #ce561c!important;
    }

.site { 
    margin-left: 40%;
}


/* footer */

.reseaux {
    display: flex;
    justify-content: space-around;
    background-color: #ce561c;
    color: white;
    padding-top: 15px;
    font-size: 16px;
    }

    .reseaux-2 {
        display: flex;
        justify-content: space-around;
        background-color: #ce561c;
        color: white;
        padding-top: 15px;
        font-size: 16px;
        margin-top: 15% !important;
        }

