body {
  background-color: #ccc;
}
/* CSS pour le tableau */
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #3a3a3a;
    color: wheat;
  }
  
.titre {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  margin-left: 21%;

}


.titre1 {
  color: #ce561c;
}

.border {

  background-color: #3d2c2c; 
  border: 1px solid #ce561c!important;
  border-radius: 15px;
  box-shadow: 20px 20px 20px rgb(0, 0, 0);
  padding: 3%;
  width: 50%;
}
  
.input { 
  padding: 1%;
}


.btn-retour {

  color: rgb(255, 255, 255);
  background-color: #f1812a;
  border: #f5f5f5;
  padding:10px 10px;
  border-radius: 30px;

}

.read {
  font-size: 20px;
}

  .btn {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
    background-color: #fa7c0e;
    color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 50px;
  }
  
  #btn {
    background-color: red;
  }

  #ajout {
    background-color: green;
  }
  

  .btn:hover {
    background-color: #ddd;
  }
  
  .categories {
    background-color: red;
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
    align-items:center;
  }

  .crud-titre { 
    border: solid 4px rgb(239, 175, 49);
    padding: 15px;
    color: white;
    background-color: orange;
}

.test {
  display: flex;
  justify-content: center;
}