
/* effet sur toute la page */

* { 
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: white; 
}

.links { 
    text-decoration: none;
}

/* barre de navigation */

.logo {  
    background-image: url(../css/logo.png) !important;
    background-size: contain;
    background-repeat: no-repeat;
    height: 12vh;
    width: 100%;
}

.nav-a { 
    color: white !important;
}

.nav-b { 
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 1%;
}

/* fin de barre de navigation */

.bg-acc { 
  background-image: url(../images/backgroundacc.png);
  background-repeat: no-repeat;
  height: 60vh;
  width: 100vw;
}

/* titre de la page accueil */

.titre { 
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 47px;
}

/* call to action page d'accueil */
.cta { 
    margin-left: 42%; 
    background-color: #f1812a;
    border: 2px solid #ffffff;
    border-radius: 20px 20px 20px 20px;
    padding: 15px;
    width: 20%;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.cta {
    display: inline-block;
    padding: 20px 40px;
    background-color: #ce561c;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    width: 50%;
    text-align: center;
    margin-left: 2%;
}

.cta:hover {
    background-color: #000000;
}

.cta span {
    display: block;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
}

/* fin */
/* background avec 4 icones de la page accueil */

.carte { 
    padding-right: 10%;
    padding-top: 28px;
    text-decoration: underline;
}

.container1 {
    margin: 0;
    padding: 0;
    background-image: url("../images/background-pizza-cosy-values-ff188e68.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.icon {
    text-align: center;
    margin: 0 20px;
}

.icon img {
    width: 100px;
    height: 100px;
}

.icon span {
    display: block;
    margin-top: 10px;
    color: white;
}

/* fin */
/* catégorie de commande */

.flex {
    display: flex;
    justify-content:space-around ;
    align-items: center;
}


.image-container {
    width: 30%; 
    height: 20vh; 
    border: 1px solid #000; 
    border-radius: 30px;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.center-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: #f1812a;
    padding: 3% 7%;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.center-button:hover {
    background-color: #ff9c59;
    color: white;
}

.image-container2 {
    position: relative;
    overflow: hidden;
}

.image-container2 img {
    transition: filter 0.3s ease, transform 0.3s ease;
}

.image-container2:hover img {
    filter: blur(4px);
    transform: scale(1.1);
}


/* container des deux div */
.artpp {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}

/* première div */
.set {
    width: 45%;
    margin: 0.5%;
}
.set2 {
    width: 55%;
    margin: 0.5%;
}

/* deuxième div */
.art {
    margin-top: 2%;
    width: 100%;
    height: 60vh;
}
.art2 {
    margin-top: 2%;
    width: 100%;
    height: 40vh;
}
/* fin de catégories de commande */
/* fin de la page ACCUEIL */

/* Page COMMANDE EN LIGNE*/

.background { 
    background-image: url(https://img.freepik.com/photos-gratuite/delicieuse-pizza-napolitaine-planche_78826-3346.jpg?w=900&t=st=1682437566~exp=1682438166~hmac=fd0b9fbf0acfecf9cf7e39be523080e158756ca611ce7cdd407229458040a43d);
    background-size: cover;
    width: 100%; 
    height: 60vh;
}

.titre-carte {
    padding-top: 10%;
    font-size: 3.5em;
    }


/* position des boutons catégories */
.position-btn { 
    display: flex;
    justify-content: space-evenly; 
    }

/* boutons catégories */

.btn-commande { 
    background-color: black;
    margin-right: 2%;
    padding: 15px;
    border-radius: 25px;
    border: 1px solid #ce561c!important;
}

.btn-commande:hover {
    background-color: #ce561c;
}

/* barre de recherche */
#enter { background-color: rgb(0, 0, 0) !important;
}

/* card */

.card { 
    border: 1px solid #ed8004;
}



/* ajouter au panier */
#btn-commande { 
    background-color: black;
    margin-right: 2%;
    padding: 15px;
    border-radius: 25px;
    border: 1px solid #ce561c!important;
}



.input { 
display: flex;
justify-content: center;
padding: 2%;
margin: 1%; }


.ajout-btn {
padding: 10px;
display: flex;
text-align: center;}

.btn-compte {
text-decoration: none;
color: rgb(255, 255, 255);
box-shadow: 5px 5px 800px 5px #2e2113;
}





.btn-panier { 
background-color: #ce561c; 
border-radius: 25px 25px 25px 25px;
}




.dropdown-item:hover { 
background-color: #ce561c;
}



.panier { 
width: 25px;
}


.donnee-panier { display: flex;
justify-content: space-around;
border-bottom: 2px solid rgb(255, 255, 255);
border-top: 2px solid rgb(255, 255, 255);
}

.img-article { 
width: 10%; 
}

.taille-panier { 
width: 20%;
display: flex;
align-items: center;
}

.total {
display: flex;
justify-content: space-between;
width: 70%;
margin: auto;
padding-right: 5.5%;
}

/* page admin */

.panier-entier {
width: 90%;
margin: auto;
}

.select { 
width: 3%;
height:10%;
margin-top: 3.2%;
}

/* connexion et inscription */

.colore {
    background-color: rgb(61, 44, 44) !important;
}
.body {
    background-image: url(../images/background-connexion.jpg) !important; 
    background-size: cover;
}

.border {
    border: 1px solid #ce561c!important;
    border-radius: 15px;
    box-shadow: 20px 20px 20px rgb(0, 0, 0);
    padding: 3%;
    }

.btn-connexion { 
    background-color: #ce561c;
}


.total-co {width: 90%;
margin-top: 10%;
margin-left: 5%;
margin-bottom: 1%;
}


.container-logos { 
    padding-top: 5%;
    width: 115%;
    margin-left: -200px;

}

.background-savoir { 
    float: right;
    background-repeat: no-repeat;
    background-size: 60%;
    width: 100%;
    height: 100vh;

}


.btn-test {
    text-align: center;
    border: 1px solid #ce561c;
    border-radius: 10px 10px 10px 10px;
    padding: 1%;
    width: 30%;
}

.rubrique-pizza { 
    border-radius: 30px;
}


.test { 
    margin: 2%;
    border: 2px solid #ffffff;
    width: 40%;
    height: 50vh;
    
}


.position-article { 
    display: flex;
    justify-content: space-around;
}

.position-article2 {
    display: flex;
    justify-content: space-around;

}

/* page des partenaires */


/* titre */
.titre-histoire { 
    font-size: 50px;
}

.text-histoire { 
    font-size: 20px;
    
}

/*  encadrement des partenaires */

.btn-partenaires { 
    border: 1px solid #ce561c;
    border-radius: 10px 10px 10px 10px;
    padding: 1%;
    margin: 1%;

}

/* positionnement des encadrements */

.partenaires {
    margin: 2%;
    width: 40%;
}

.partenairesbis {
    width: 50%;
    margin-left: 25%;
    font-size: 20px;
}


/* page de contact */

/* taille du paragraphe */
.size-contact { 
    font-size: 20px;

}

/* span */
.color-contact { 
    color: #ed8004;
}

/* fin */

/* aucune idée de l'emplacement */

.site { 
    margin-left: 40%;
}

/* //////////////////////////////////////// */

/* footer */

.reseaux {
    display: flex;
    justify-content: space-around;
    background-color: #ce561c;
    color: white;
    padding-top: 15px;
    font-size: 16px;
    }

.reseaux-2 {
    display: flex;
    justify-content: space-around;
    background-color: #ce561c;
    color: white;
    padding-top: 15px;
    font-size: 16px;
    margin-top: 15% !important;
    }



/* PAGE AMDIN DE LA CLIENTE */

.container-admin {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.titre-admin {
    text-align: center;
}

.commande {
    background-color: rgb(77, 217, 34);
    padding: 20px;
}

.close-btn {
    color: white;
    padding: 20px;
    background-color: red;
    border: 1px solid #ce561c;
    border-radius: 10px 10px 10px 10px;
}

.block-admin {
        padding: 20px;
}

.orders, .order-history {
    margin-bottom: 30px;
}

.order-list {
        list-style: none;
        padding: 0;
}
      
      .order {
        background-color: #f5f5f5;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
      }
   