
/* effet sur toute la page */

* { 
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: white; 
}

.links { 
    text-decoration: none;
}

/* barre de navigation */

.logo {  
    background-image: url(../css/logo.png) !important;
    background-size: contain;
    background-repeat: no-repeat;
    height: 12vh;
    width: 100%;
}

.nav-a { 
    color: white !important;
}

.nav-b { 
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 1%;
}

/* fin de barre de navigation */

.accueil {
    background-image: url(https://img.freepik.com/photos-gratuite/delicieuse-pizza-napolitaine-planche_78826-3346.jpg?w=900&t=st=1682437566~exp=1682438166~hmac=fd0b9fb…);
    background-size: cover;
    width: 100%;
    height: 60vh;
}

.bg-acc { 
  background-image: url(../images/bgAcc.png);
  background-repeat: no-repeat;
  height: 60vh;
  width: 100vw;
}

/* titre de la page accueil */

.titre { 
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 47px;
}

/* call to action page d'accueil */



.btn-12{
    
    right: 20px;
    bottom: 20px;
    border:none;
    box-shadow: none;

  height: 50px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
    margin-left: 45%;
  }
  .btn-12 span {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    display: block;
    position: absolute;
    width: 200px;
    height: 100px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .btn-12 span:nth-child(1) {
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
.btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-12:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .btn-12:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
   color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }



/* fin */
/* background avec 4 icones de la page accueil */

.carte { 
    padding-right: 10%;
    padding-top: 28px;
    text-decoration: underline;
}

.container1 {
    margin: 0;
    padding: 0;
    background-image: url("../images/background-pizza-cosy-values-ff188e68.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.icon {
    text-align: center;
    margin: 0 20px;
}

.icon img {
    width: 100px;
    height: 100px;
}

.icon span {
    display: block;
    margin-top: 10px;
    color: white;
}

/* fin */
/* catégorie de commande */

.flex {
    display: flex;
    justify-content:space-around ;
    align-items: center;
}


.image-container {
    width: 30%; 
    height: 20vh; 
    border: 1px solid #000; 
    border-radius: 30px;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.center-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    background-color: #f1812a;
    border: #f5f5f5;
    padding: 3% 7%;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.center-button:hover {
    background-color: #ff9c59;
    color: white;
}

.image-container2 {
    position: relative;
    overflow: hidden;
}

.image-container2 img {
    transition: filter 0.3s ease, transform 0.3s ease;
}

.image-container2:hover img {
    filter: blur(4px);
    transform: scale(1.1);
}


/* container des deux div */
.artpp {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}

/* première div */
.set {
    width: 45%;
    margin: 0.5%;
}
.set2 {
    width: 55%;
    margin: 0.5%;
}

/* deuxième div */
.art {
    margin-top: 2%;
    width: 100%;
    height: 60vh;
}
.art2 {
    margin-top: 2%;
    width: 100%;
    height: 40vh;
}
/* fin de catégories de commande */
/* fin de la page ACCUEIL */

/* Page COMMANDE EN LIGNE*/

.accueil { 
    background-image: url(../images/bgAcc.png);
    background-size: cover;
    width: 100%; 
    height: 60vh;
}

.titre-carte {
    padding-top: 10%;
    font-size: 3.5em;
    }


/* position des boutons catégories */
.position-btn { 
    display: flex;
    justify-content: space-evenly; 
    }

/* boutons catégories */

.btn-commande { 
    background-color: black;
    margin-right: 2%;
    padding: 15px;
    border-radius: 25px;
    border: 1px solid #ce561c!important;
}

.btn-commande:hover {
    background-color: #ce561c;
}

/* barre de recherche */
#enter { background-color: rgb(0, 0, 0) !important;
}

/* card */

.card  {
    border: 1px solid #ce561c;
}


/* ajouter au panier */
#btn-commande { 
    background-color: black;
    margin-right: 2%;
    padding: 15px;
    border-radius: 25px;
    border: 1px solid #ce561c!important;
}



.input { 
display: flex;
justify-content: center;
padding: 2%;
margin: 1%; }


.ajout-btn {
padding: 10px;
display: flex;
text-align: center;}

.btn-compte {
text-decoration: none;
color: rgb(255, 255, 255);
box-shadow: 5px 5px 800px 5px #2e2113;
}










/* connexion et inscription */

.colore {
    background-color: rgb(61, 44, 44) !important;
}
.body {
    background-image: url(../images/background-connexion.jpg) !important; 
    background-size: cover;
}

.border {
    border: 1px solid #ce561c!important;
    border-radius: 15px;
    box-shadow: 20px 20px 20px rgb(0, 0, 0);
    padding: 3%;
    }

.btn-connexion { 
    background-color: #ce561c;
}

/*  */





.total-co {width: 90%;
margin-top: 10%;
margin-left: 5%;
margin-bottom: 1%;
}


.container-logos { 
    padding-top: 5%;
    width: 115%;
    margin-left: -200px;

}

.background-savoir { 
    float: right;
    background-repeat: no-repeat;
    background-size: 60%;
    width: 100%;
    height: 100vh;

}


.btn-test {
    text-align: center;
    border: 1px solid #ce561c;
    border-radius: 10px 10px 10px 10px;
    padding: 1%;
    width: 30%;
}

.rubrique-pizza { 
    border-radius: 30px;
}


.test { 
    margin: 2%;
    border: 2px solid #ffffff;
    width: 40%;
    height: 50vh;
    
}


.position-article { 
    display: flex;
    justify-content: space-around;
}

.position-article2 {
    display: flex;
    justify-content: space-around;

}

/* page des partenaires */


/* titre */
.titre-histoire { 
    font-size: 50px;
}

.text-histoire { 
    font-size: 20px;
    
}

/*  encadrement des partenaires */

.btn-partenaires { 
    border: 1px solid #ce561c;
    border-radius: 10px 10px 10px 10px;
    padding: 1%;
    margin: 1%;

}

/* positionnement des encadrements */

.partenaires {
    margin: 1%;
    width: 40%;
    border: 1px solid #ce561c;
    border-radius: 10px 10px 10px 10px;
}

.partenairesbis {
    width: 50%;
    margin-left: 25%;
    font-size: 20px;
    border: 1px solid #ce561c;
    border-radius: 10px 10px 10px 10px;
}

.position-partenaires {
    margin-left: 29%;
}



/* page de contact */

/* taille du paragraphe */
.size-contact { 
    font-size: 20px;

}

/* span */
.color-contact { 
    color: #ed8004;
}

/* fin */

/* aucune idée de l'emplacement */

.site { 
    margin-left: 40%;
}

/* //////////////////////////////////////// */

/* footer */

.reseaux {
    display: flex;
    justify-content: space-around;
    background-color: #ce561c;
    color: white;
    padding-top: 15px;
    font-size: 16px;
    }

.reseaux-2 {
    display: flex;
    justify-content: space-around;
    background-color: #ce561c;
    color: white;
    padding-top: 15px;
    font-size: 16px;
    margin-top: 15% !important;
    }



/* PAGE AMDIN DE LA CLIENTE */

.container-admin {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.titre-admin {
    text-align: center;
}

.commande {
    background-color: rgb(77, 217, 34);
    padding: 20px;
}

.close-btn {
    color: white;
    padding: 20px;
    background-color: red;
    border: 1px solid #ce561c;
    border-radius: 10px 10px 10px 10px;
}

.block-admin {
        padding: 20px;
}

.orders, .order-history {
    margin-bottom: 30px;
}

.order-list {
        list-style: none;
        padding: 0;
}
      
      .order {
        background-color: #f5f5f5;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
      }
   


    /* panier  */
    .panier {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        padding: 5%;
        overflow: hidden;
        margin: 20px;
      }
  
      .total {
        display: flex;
        justify-content: end;
        margin-right: 3%;
      }